
/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */



html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}
.hidden {
    display: none;
}

#intergramChat {
    height: 450px;
    overflow: scroll;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    padding: 0 0 50px 0;
    margin: 0 0 10px;
}

.chat li {
    padding: 8px;
    padding: 0.5rem;
    font-size: 14.4px;
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.visitor {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
}

.visitor .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 0 #D4D4D4;
}

.admin .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border-top-left-radius: 0;
    box-shadow: -1px 2px 0 #D4D4D4;
}

.msg {
    word-wrap: break-word;
    background: white;
    min-width: 50px;
    max-width: 80%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.msg p {
    margin: 0 0 3.2px 0;
    margin: 0 0 0.2rem 0;
}

.msg .time {
    font-size: 11.2px;
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    /* box-shadow: inset 0 0 0 #e5e5e5, inset 0 -45px 0 #fafafa; */
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0 0 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0 0 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0 0 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 24px;
}

/* I N P U T */

.wrap-input {
    position: absolute;
    bottom: 0;
}

input.textarea {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 45px;
    color: #666;
    font-weight: 400;
    box-sizing: border-box;
}


a.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12px;
    z-index: 99;
    border-top: 2px solid #e5e5e5;
    background: #e5e5e5;
    outline: none;
    color: #777;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    text-decoration: none
}

.background-bottom-input-area {
    position: fixed;
    z-index: 98;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: #fafafa;
}

.btn-send-message, .btn-send-file {
    right: 12px;
    position: fixed;
    bottom: 11px;
    font-size: 17px;
    color: #666;
    z-index: 100;
    cursor: pointer;
}

.btn-send-file {
    right: 40px;
}

.power_by_style {
    display: block;
    width: 98%;
    position: fixed;
    bottom: 48px;
    padding: 3px;
    text-align: center;
    color: #96aab4;
    font-size: 10px;
    text-decoration: none;
    opacity: 0.5;
    z-index: 100;
}

.msg img {
    max-width: 100%;
}

.mobile-chat{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    top: 0;
    overflow-y: overlay;
}

.mobile-chat .btn-send-message,
.mobile-chat .btn-send-file{
    bottom: 56px;
    right: 10px;
}
.mobile-chat .btn-send-file {
    right: 38px;
}

.mobile-chat #inputTextarea{
    bottom: 45px;
    padding-right: 60px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    #intergramChat select,
    #intergramChat textarea,
    #intergramChat input,
    #intergramChat select:focus,
    #intergramChat textarea:focus,
    #intergramChat input:focus{
        font-size: 16px;
    }
}